<div class="container-fluid p-0" id="card-image" style="background-image: url('<%= cl_image_path @flat.photos.first.key, height: 200 %>')">
      </div>
<div class="container margin-top-negative">
  <div class="row">
    <div class="col-8">
      <div class="bg-light shadow p-3 mb-4 rounded">
        <h1><%= @flat.name %></h1>
        <p class="mt-2 font-style-italic"><%= @flat.address %></p>
      </div>
      <div class="bg-light shadow p-3 mb-4 rounded">
        <h2>A bit more about this flat...</h2>
        <p class="mt-2"><%= @flat.description %></p>
      </div>
      <div class="bg-light shadow p-3 mb-4 rounded">
        <div class="row">
          <div class="col-12">
            <%= cl_image_tag @flat.photos.first.key, class: "w-100" %>
          </div>
        </div>
        <div class="row">
          <div class="col-6 pr-0">
            <%= cl_image_tag @flat.photos[1].key, class: "w-100 h-100", crop: :fill %>
          </div>
          <div class="col-6 pl-0">
            <%= cl_image_tag @flat.photos[2].key, class: "w-100 h-100", crop: :fill %>
          </div>
        </div>
      </div>
    </div>
    <div class="col-4 d-flex flex-column">
      <% if @flat.user == current_user %>
        <div class="bg-light shadow p-3 mb-4 rounded">
          <%= link_to 'Check your flat bookings', "#", class: 'btn btn-success w-100 text-white'  %>
        </div>
      <% else %>
        <div class="bg-light shadow p-3 mb-4 rounded">
          <%= simple_form_for([@flat, @booking]) do |f| %>
            <div class="input-group mb-3 d-flex align-items-center">
              <p class="input-group-text mb-3 flex-grow-1" id="basic-addon1">From: </p>
              <%= f.input :checkin, as: :string, label: false, placeholder: "12/4/2021", required: false, input_html: { id: "range_start" } %>
            </div>
            <div class="input-group mb-3 d-flex align-items-center">
              <p class="input-group-text mb-3 w-25 flex-grow-1" id="basic-addon1">To: </p>
              <%= f.input :checkout, as: :string, label: false, placeholder: "20/4/2021", required: false, input_html: { id: "range_end" } %>
            </div>
            <%= f.button :submit, "Book", class: 'btn btn-success w-100 text-white', id: "sweet-alert-demo" %>
          <% end %>
        </div>
      <% end %>
      <div class="bg-light shadow p-3 mb-4 rounded">
        <h2>Details</h2>
        <div class="d-md-flex">
          <p class="mx-2 my-0"><i class="fas fa-user-friends"></i>  <%= @flat.number_of_guests %></p>
          <p class="mx-2 my-0"><i class="fas fa-euro-sign"></i>  <%= @flat.price_per_night %></p>
        </div>
      </div>
      <div class="bg-light shadow p-3 mb-4 rounded d-flex align-items-center">
        <p class="flex-grow-1 m-0 font-weight-bolder">Share</p>
        <div class="d-md-flex">
          <p class="mx-2 my-0"><i class="fab fa-facebook-square fa-2x"></i></p>
          <p class="mx-2 my-0"><i class="fab fa-twitter-square fa-2x"></i></p>
          <p class="mx-2 my-0"><i class="fab fa-pinterest-square fa-2x"></i></p>
          <p class="mx-2 my-0"><i class="fas fa-envelope-square fa-2x"></i></p>
        </div>
      </div>
      <div class="bg-light shadow p-3 mb-4 rounded">
        <% if policy(@flat).edit? %>
          <%= link_to 'Edit flat', edit_flat_path(@flat), :class => "btn btn-secondary w-100 text-white m-1"  %>
        <% end %>
        <% if policy(@flat).destroy? %>
          <%= link_to 'Remove flat', flat_path(@flat), method: :delete, data: {confirm: "Are you sure?" }, :class => "btn btn-secondary w-100 text-white m-1"  %>
        <% end %>
        <%= link_to 'Back to list', flats_path, :class => "btn btn-secondary w-100 text-white m-1"  %>
      </div>
      <div id="map2"
       data-markers="<%= @markers.to_json %>"
       data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
       class="flex-grow-1 bg-light shadow p-3 mb-4 rounded">
    </div>
    </div>
  </div>
</div>
