<!-- banner -->

<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('https://images.unsplash.com/photo-1469022563428-aa04fef9f5a2?ixid=MXwxMjA3fDB8MHxzZWFyY2h8MXx8YXBhcnRtZW50c3xlbnwwfHwwfA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=60');">
  <div class="banner-content">
    <h1>Welcome Home</h1>
    <p>Rent unique places to stay from local hosts in 190+ countries</p>
    <div class="d-flex justify-content-center">
      <a class="btn btn-primary btn-lg mx-2">How it works</a>
      <%= link_to 'Search Flats', flats_path, :class => "btn btn-primary btn-lg mx-2"  %>
    </div>
    <p class="m-5">
      <span id="banner-typed-text"></span>
    </p>
  </div>
</div>

<!-- features -->

<div class="container my-5">
  <div class="home-cards">
    <div class="card bg-light">
      <div id="card-image" style="background-image: url('<%= image_path "https://images.unsplash.com/photo-1545197680-433442d91dcf?ixid=MXwxMjA3fDB8MHxzZWFyY2h8M3x8dGhlJTIwd29ybGR8ZW58MHx8MHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=60" %>'); height: 200px;">
      </div>
      <div class="p-3 flex-grow-1 bg-light">
        <h4>Discover the world</h4>
        <p>The earth is your new home.</p>
      </div>
      <div class="border"></div>
    </div>
    <div class="card bg-light">
      <div id="card-image" style="background-image: url('<%= image_path "https://images.unsplash.com/photo-1563013544-824ae1b704d3?ixid=MXwxMjA3fDB8MHxzZWFyY2h8Mnx8cGF5JTIwb25saW5lfGVufDB8fDB8&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=60" %>'); height: 200px;">
      </div>
      <div class="p-3 flex-grow-1 bg-light">
        <h4>Pay online</h4>
        <p>No cash issues anymore.</p>
      </div>
      <div class="border"></div>
    </div>
    <div class="card bg-light">
      <div id="card-image" style="background-image: url('<%= image_path "https://images.unsplash.com/photo-1517457373958-b7bdd4587205?ixid=MXwxMjA3fDB8MHxzZWFyY2h8NHx8cGFydHl8ZW58MHx8MHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=60" %>'); height: 200px;">
      </div>
      <div class="p-3 flex-grow-1 bg-light">
        <h4>Meet people</h4>
        <p>Discover new culture and lifestyle.</p>
      </div>
      <div class="border"></div>
    </div>
    <div class="card bg-light">
      <div id="card-image" style="background-image: url('<%= image_path "https://images.unsplash.com/photo-1516589178581-6cd7833ae3b2?ixid=MXwxMjA3fDB8MHxzZWFyY2h8NHx8bG92ZXxlbnwwfHwwfA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=60" %>'); height: 200px;">
      </div>
      <div class="p-3 flex-grow-1 bg-light">
        <h4>Share and love</h4>
        <p>Join a community you will love.</p>
      </div>
      <div class="border"></div>
    </div>
  </div>
</div>

<!-- next trip -->

<div class="container my-5">
  <h1 class="text-center">Discover our locations</h1>
  <div class="cards">
    <div class="card bg-light">
      <div id="card-image" class="p-auto d-flex justify-content-center align-items-center" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTdw2eGlVRrVebjru95R7ETTd3O9a5RCwQEsA&usqp=CAU'); height: 300px;">
        <h3 class="text-white">Brussel</h3>
      </div>
    </div>
    <div class="card bg-light">
      <div id="card-image" class="p-auto d-flex justify-content-center align-items-center" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQR5piMsFPRoxz79zcjq_odnVVUV--EZRPiRg&usqp=CAU'); height: 300px;">
        <h3 class="text-white">London</h3>
      </div>
    </div>
    <div class="card bg-light">
      <div id="card-image" class="p-auto d-flex justify-content-center align-items-center" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('https://hipertextual.com/files/2013/04/Paris.jpg'); height: 300px;">
        <h3 class="text-white">Paris</h3>
      </div>
    </div>
  </div>
</div>

<!-- newsletter sign-up form -->

<form class="text-center padded">
  <h2>Get news from us</h2>
  <p class="bottom-margin">Leave us your mail and get news from us</p>
  <div class="form-group">
    <label class="sr-only">Email</label>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-6 m-auto">
        <label for="email" class="email"></label>
        <input type="email" class="form-control" id="email" placeholder="bob@gmail.com">
        <button type="submit" class="btn btn-primary w-100 my-2">Subscribe</button>
      </div>
    </div>
  </div>
</form>
